*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior: none;
  }

body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */


.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(128, 0, 128, 0.75), rgba(128, 0, 128, 0.75)), url(./imgs/Darul_Huda_Islamic_University_Chemmad.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

}

ul{
display: inline;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: bolder;
    font-size: 1.5rem;
}
.nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffea00;
    position: absolute;
    left: 0;
    bottom: -7.5px;
    transition: 0.5s;
}
.nav ul li:hover::after{
    width: 100%;
}
.lg{
        width: 120px;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

.logoo{
    position: relative;
    width: 50vw;
    margin: 150px auto;

}
.logo{
    width: 100%;
    display: block;
    }
.aboutlogo{
    width: 241px;
    height: 241px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 75px;
    left: 5%;
}
.lgo{
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    left: 10%;
    top: auto;
    
}
.about{
    background-color: #ffea00;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    min-height: 384px;
}
.aboutcontent{
    font-family: montserrat;
    position: absolute;
    top: 75px;
    bottom: 0;
    left: 25%;
    width: 1000px;
}
.bolde{
    font-weight: bold;
}
.gallery{
    min-height: 384px;
    overflow-x: auto;
    display: flex;
    
    
}
.gallery::-webkit-scrollbar {
    width: 0;
    
    background-color: #ffea00;
  }
.galleryimage{
    width: fit-content;
    display: block;
}
.cd{
    min-height: 384px;
    text-align: center;
    font-family: montserrat;
    position: relative;
    
}
.cdh{
    font-weight: 300;
    font-size: 2rem;
    transform: translateY(3rem);
}
.footer{
    min-height: 384px;
    background-color: black;
    position: relative;
    z-index: 1;
    color: white;
}
.footer::before{
    content: '';
    height: 20px;
    width: 100%;
    background: #ffea00;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
}
/* .cd::before{
    content: '';
    height: 20px;
    width: 100%;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
} */
#demo{
    font-size: 10rem;
    color: purple;
    opacity: 0.7;
    font-family: Kumbh Sans,sans-serif;
    position: absolute;
    align-items: center;
    top: 5rem;
    left: 22.5%;
    font-weight: bolder;
}
.days{
    display: flex;
    align-items: center;
    position: absolute;
    top: 16rem;
    left: 22.5%;
    

}
.d, .h, .m, .s{
    margin: 0 40px;

}
.d{
    margin: 0 50px;
}
.h{
    margin: 0 0 0 120px;
}
.m{
    margin: 0 0 0 90px ;
}
.s{
    margin: 0 115px;
}
.linksq li{
    list-style: none;
}
.linksq li a{
    text-decoration: none;
    color: white;
    font-family: montserrat;
    
}
.qlh{
    font-family: montserrat;
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 2rem;
}
.ft{
    position: absolute;
    top: 120px;
    left: 80px;
    /* margin: 20px 0; */
    
}
.l{
    margin: 20px 0;
    font-size: 1.5rem;
    transition: all 0.5s;
}
/* :hover{
    color: #ffea00;
   
} */

.st{
    position: absolute;
    top: 120px;
    left: 500px;
}
.address{
    font-family: montserrat;
    position: absolute;

}
.ad{
    position: absolute;
    top: 80px;
    left: 900px;
    font-size: 2rem;
}
.fa{
    position: absolute;
    top: 130px;
    left: 900px;
    width: 300px;
}

.cr{
    position: absolute;
    top: 330px;
    left: 900px;
    width: 300px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}
.linksq .ft li a:hover{
color: #ffea00;
}
.linksq .st li a:hover{
color: #ffea00;
